{% extends "base.njk" %}

{% block body %}
<div class="relative overflow-hidden flex min-h-full w-full flex-col">
  <div class="relative flex w-full flex-col flex-1">
    <div class="w-full max-w-7xl mx-auto px-4 sm:px-8 lg:px-12">
      {% include "partials/header.njk" %}
      <main class="flex-auto">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>
    {% include "partials/footer.njk" %}
  </div>
</div>
{% endblock %}
