---
layout: simple.njk
pageTitle: "You are subscribed"
pageDescription: "Thanks for subscribing to trackur updates."
simpleTitle: "Thanks for subscribing."
simpleIntro: "We'll send you an email when we publish product updates or new features. You can unsubscribe at any time."
---
